

header {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid black;
    height:50px;
    font-family: 'Permanent Marker', cursive;
   
}

header div {
    margin: 0px 10px;
}



header button{
    background-image: url("../../public/outline_menu_black_24dp.png");
    width: 25px;
    height: 30px;
    border: none;
    background-color: white;
}
nav a{
    margin-right: 15px;
    
    
}
