.main-header {
  display: flex;
  justify-content: space-between;
  height: 10px;
  font-family: "Rock Salt", cursive;
  margin: 0px 10px 0 10px;
}

header button {
  background-image: url("../../public/outline_menu_black_24dp.png");
  width: 25px;
  height: 30px;
  border: none;
  background-color: white;
}

nav a {
  margin-right: 10px;
}

@media only screen and (min-width: 600px) {
  .main-header {
    height: 5px;
  }

  /* header button {
    display: none;
  } */
}
