input {
  height: 35px;
  font-family: "Poppins", sans-serif;
}

.find-events-button {
  height: 35px;
  background-color: black;
  color: white;
  font-family: "Rock Salt", cursive;
  height: 61px;
  border: none;
  border-radius: 2px;
}

button:hover {
  background-color: blue;
  color: black;
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 270px;
  position: relative;
}

.where-to {
  height: 40px;
}

.main-paragraph {
  margin-bottom: 50px;
  font-size: 40px;
  width: 390px;
  color: white;
  opacity: 1;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  padding: 5px;
  margin-left: 10px;
  position: relative;
}
/* 
.adventure {
  text-decoration: underline white 10px;
  font-weight:
  
} */

.main-page-pic {
  height: 400px;
  width: 100%;
  position: absolute;
  /* opacity:  */
}
.links {
  position:absolute;
  left: 72%;
  z-index: 1;
  top: 3%;
}
.links ul {
  padding-left: 2px;
  z-index: 1;
  height: 90px;
  width: 100px;
  background-color: whitesmoke;
  color: black;
}

.links li {
  list-style-type: none;
  margin-bottom: 10px;
  width: 105px;
  height: 20px;
  font-size: 10px;
}

.links a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  color: black;
  font-weight: 700;
}


.none {
  display: none;
}

.show{
  display:block
}

@media only screen and (min-width: 600px) {
  form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: 150px;
    margin-left: 50px;
    margin-right: 50px;
    position: relative;
  }

  input {
    width: 300px;
    height: 55px;
  }

  .where-to {
    height: 59px;
  }

  button {
    width: 300px;
    height: 58px;
  }

  .main-paragraph {
    font-size: 60px;
    margin-left: 50px;
    position: relative;
    color: white;
  }

  .main-page-pic {
    height: 100%;
    width: 100%;
    position: absolute;
  }
}
