.main-page-pic {
  height: 400px;
  width: 100%;
  position: absolute;
  /* opacity:  */
}

.main-paragraph {
  margin-bottom: 50px;
  font-size: 40px;
  width: 390px;
  color: white;
  opacity: 1;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  padding: 5px;
  margin-left: 10px;
  position: relative;
}

.adventure {
  text-decoration: underline rgb(84, 1, 84) 10px;
  /* font-weight: ; */
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 270px;
  position: relative;
}

.where-to {
  height: 60px;
}

input {
  height: 60px;
  font-family: "Poppins", sans-serif;
}

.find-events-button {
  height: 35px;
  background-color: black;
  color: white;
  font-family: "Rock Salt", cursive;
  height: 61px;
  border: none;
  border-radius: 2px;
}

.find-events-button:hover {
  background-color: rgb(84, 1, 84);
}

@media only screen and (min-width: 600px) {
  .main-page-pic {
    height: 100%;
    position: absolute;
  }

  .main-paragraph {
    font-size: 60px;
    margin-left: 50px;
    position: relative;
    color: white;
  }

  form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: 185px;
    margin-left: 50px;
    margin-right: 50px;
    position: relative;
  }

  .where-to {
    height: 57px;
    height: 64px;
  }

  input {
    width: 300px;
    height: 60px;
  }

  .find-events-button {
    width: 300px;
    height: 62px;
  }
}
