/* TripResult body{
    background-color: rgb(238, 236, 236);
} */

.side-by-side{
    display: flex;
}

.photo-container{
    display: flex;
    justify-content: center;
   
}

.airbnb-saveButton-photo{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.italic-city{
    font-style: italic;
}


@media only screen and (max-width: 600px) {
    .side-by-side{
        display: block;
    }
}