.weatherContainer {
  font-family: "Roboto Slab", sans-serif;
  padding-left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow-x: auto;

  width: 600px;
  margin: none;

  color: #313e48;
  min-height: 400px;
}
ul {
  margin-block-start: 0;
}
.weatherCell {
  /* margin-right: 15px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 15px;
  padding-left: 15px;
  min-width: 220px;
  max-width: 220px;
  background-image: url("/public/iconimages/cloudbackground.jpg");
  background-size: cover;
  height: 500px;
}

.weather {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}

.hrContainer {
  display: flex;
  height: 500px;
}

/* .weatherIcon {
  $thumbnail: ;
} */
